apiVersion: v1
kind: Pod
metadata:
  name: simple-webapp-color
  labels:
    name: simple-webapp-color
spec:
  containers:
    - name: simple-webapp-color
      image: simple-webapp-color
      port:
        - containerPort: 8080
      resources:
        requests:
          memory: "4Gi"
  cpu: 2